<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <!--div class="span6 offset3"-->
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(@user) do |f| %>
      <%= render 'shared/error_messages',object: f.object %>

    <!--   <%= f.label :first_name, "First Name" %> -->
      <%= f.text_field :first_name %>

    <!--   <%= f.label :last_name, "Last Name" %> -->
      <%= f.text_field :last_name %>

    <!--   <%= f.label :email %> -->
      <%= f.text_field :email %>

      <p>
       <%= f.label :change_password %>  <%= check_box_tag :change_password,'change password',true  %>
      </p>

      <div id="password_form">
      <!--   <%= f.label :password %> -->
        <%= f.password_field :password %>

      <!--   <%= f.label :password_confirmation, "Confirm Password" %> -->
        <%= f.password_field :password_confirmation %>
      </div>
      

      <% if @current_user.user_types_id==1 %>
      <!--   <%= f.label :username, "Username" %> -->
      <%= f.text_field :username %>

      <!--   <%= f.label :user_types_id, "Role" %> -->
      <%= f.collection_select(:user_types_id, UserType.all, :id, :name) %>
      <%end %>
        
      <%= avatar_for @user%>
        <%= f.label :remove_avatar do %>
        <%= f.check_box :remove_avatar%>
      <% end %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  
  </div>
</div>

<script type="text/javascript">
  var checkbox = document.getElementById('change_password');
  var details_div = document.getElementById('password_form');
  checkbox.onchange = function() {
     if(this.checked) {
       details_div.style['display'] = 'block';
     } else {
       details_div.style['display'] = 'none';
     }
  };
</script>