 <% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-2">
    <section>
        <%= image_tag(@user.avatar_url(:thumb)) if @user.avatar? %>
      <h1>
        <%= @user.first_name%> <%= @user.last_name%>
      </h1> 
    </section>
  </aside>
  
   <div class="col-md-10"> 
       <div class="tabbable tabs-right">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#1" data-toggle="tab">Reported (Open
            <%=@reported_by_ticket.where('ticket_state_id not in (?)', [5,6]).count %>)</a>
          </li>
          <li>
            <a href="#2" data-toggle="tab">Assigned (Open 
            <%=@assigned_to_ticket.where('ticket_state_id not in (?)', [5,6]).count %>)</a>
          </li>
          <li>
            <a href="#3" data-toggle="tab">Reported (Closed
              <%=@reported_by_ticket.where('ticket_state_id in (?)', [5,6]).count %>)</a>
          </li>
          <li>
            <a href="#4" data-toggle="tab">Assigned (Closed
              <%=@assigned_to_ticket.where('ticket_state_id  in (?)', [5,6]).count %>)</a>
          </li>
        </ul>
        <div class="tab-content">
         <div class="tab-pane active" id="1">
            <ol class="tickets">
              <%= render @reported_by_ticket.where('ticket_state_id not in (?)', [5,6]) %>
            </ol>
         </div>
         <div class="tab-pane" id="2">
            <ol class="tickets">
              <%= render @assigned_to_ticket.where('ticket_state_id not in (?)', [5,6]) %>
            </ol>
         </div>
         <div class="tab-pane" id="3">
            <ol class="tickets">
              <%= render @reported_by_ticket.where('ticket_state_id  in (?)', [5,6]) %>
            </ol>
         </div>
          <div class="tab-pane" id="4">
            <ol class="tickets">
              <%= render @assigned_to_ticket.where('ticket_state_id  in (?)', [5,6]) %>
            </ol>
         </div>
        </div>
      </div>
    </div>
     
</div>
