<table class="table  table-striped  table-hover">
  <tr>
    <th><%=sortable "id", "Id" %></th>
    <th><%=sortable "priority_name", "Priority"%>
    <th><%=sortable "issue_type_name" , "IssueType" %></th>
    <th><%=sortable "title", "Title" %></th>
    <th><%=sortable "reported_name", "Reported" %></th>
    <th><%=sortable "assigned_name", "Assigned"%></th>
    <th><%=sortable "ticket_name", "State" %></th>
    <th><%=sortable "created_at", "Created"%></th>
    <th><%=sortable "updated_at","Updated" %></th>
  </tr>

  <%for ticket in @tickets %>
   <tr >
    <td><%=ticket.id%></td>
    <td><%=ticket.priority.name%></td>
    <td><%=ticket.issue_type.name%></td>
    <td><%=link_to ticket.title,ticket%></td>
    <td><%=ticket.reported_by_user.username%></td>
    <td><%=if ticket.assigned_to_user!= nil then  ticket.assigned_to_user.username else "unassigned" end%></td>
    <td><%=ticket.state.name%></td>
    <td><%=ticket.created_at.to_formatted_s(:long)%></td>
    <td><%=ticket.updated_at.to_formatted_s(:long)%></td>
   </tr>
  <%end%>
</table>
 <%= will_paginate @tickets %>