<table class="table    table-hover">
  <tr>
    <th><%=sortable "id", "Id" %></th>
    <th><%=sortable "ticket_priority_id", "Priority"%>
    <th><%=sortable "issue_type_id" , "IssueType" %></th>
    <th><%=sortable "title", "Title" %></th>
    <th><%=sortable "reported_by", "Reported" %></th>
    <th><%=sortable "assigned_to", "Assigned"%></th>
    <th><%=sortable "ticket_state_id", "State" %></th>
    <th><%=sortable "created_at", "Created"%></th>
    <th><%=sortable "updated_at","Updated" %></th>
  </tr>

  <%for ticket in @tickets %>
   <tr class="<%=row_color ticket.state.name, ticket.assigned_to, ticket.updated_at, ticket.created_at%>">
    <td><%=ticket.id%></td>
    <td>
      <span class="<%="badge badge#{issue_type_badge ticket.priority.name}"%>" >
        <%=ticket.priority.name%>
      </span>
    </td>
    
    <td><%=ticket.issue_type.name%></td>
    <td><%=link_to ticket.title,ticket%></td>
    <td><%=ticket.reported_by_user.username%></td>
    <td><%=if ticket.assigned_to_user!= nil then  ticket.assigned_to_user.username else "unassigned" end%></td>
    <td><%=ticket.state.name%></td>
    <td><%=ticket.created_at.to_formatted_s(:long)%></td>
    <td><%=ticket.updated_at.to_formatted_s(:long)%></td>
   </tr>
  <%end%>
</table>
 <%= will_paginate @tickets %>