<% provide(:title, @ticket.title) %>
<h1>Ticket: <%=@ticket.id%></h1>

<h2>Details</h2>

<!--div class="center hero-unit"-->
<div class="row">
  <table id='Details' class="col-md-10 col-md-offset-1">
    <%= form_for(@ticket) do |f| %>
    <tr>
      <th>Created</th>
      <td><%= @ticket.created_at.to_formatted_s(:long) %></td>
      <th>Updated</th>
      <td><%= @ticket.updated_at.to_formatted_s(:long) %></td>
    </tr>
    <tr>
      <th>Reported by</th>
        <td> <%= f.collection_select(:reported_by, User.all, :id, :username,{},:readonly => @is_readonly) %></td>

        <th>Closed</th>
        <td><%= @ticket.closed_at.to_formatted_s(:long) unless @ticket.closed_at==nil%></td>
    </tr>
    <tr>
      <th>Priority</th>
      <td><%= f.collection_select(:ticket_priority_id, TicketPriority.all, :id, :name,{},:readonly => @is_readonly) %></td>

      <th>Ticket State</th>
      <td><%= f.collection_select(:ticket_state_id, TicketState.all, :id, :name, {},:readonly => @is_readonly) %></td>
    </tr>
    <tr>
      <th>Assigned to</th>
      <td> <%= f.collection_select(:assigned_to, User.where(:user_types_id=>[1,2]),:id, :username,
      :include_blank => "Not Assigned") %></td>

      <th>TicketType</th> 
      <td> <%= f.collection_select(:issue_type_id, IssueType.all, :id, :name ,{},:readonly => @is_readonly) %></td>
    </tr>
    <tr>
      <th>Title</th>
      <td colspan="3"><%= f.text_field :title , :readonly => @is_readonly %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td colspan="3"> <%= f.text_area :description, :size => "30x10" , :readonly => @is_readonly%></td>
    </tr>
    <tr>
      
      <td>
        <%if !@is_closed %>
          <%= f.submit "Save Changes", class: "btn btn-lg  btn-red", :name => "save_changes" %>
        <%else%>
          <%= f.submit "Reopen", class: "btn btn-lg btn-red", :name => "reopen" %>
        <%end%>
      </td>
    </tr>
  <% end %>
</table>
</div>

<h2>Notes</h2>
<!--div class="center hero-unit"-->
<div class="row">
  <table id='notes' class="col-md-10 col-md-offset-1">
    <% if  !@is_readonly %>
      <% form_for(@note) do |f| %>
        <% f.hidden_field :updateuserid, value: current_user.id  %>
        <% f.hidden_field :ticket_id, value:  @ticket.id  %>
        <tr>
          <td colspa="2"><% f.text_area :description, :size => "10x2" %></td>
        </tr>
        <tr>
          <td>
           Mark note as solution <%= f.check_box :is_solution %></br> 
           <% f.submit "Make a Note", class: "btn btn-lg btn-red" %>
          </td>
      </tr>
      <% end %>
    <% end %>
    <% if@ticket_notes_user.any? %>
      <%= render  @ticket_notes_user%>
    </table>
</div>
 <% end %>
<!--/div-->	

<h2>History</h2>
<!--div class="center hero-unit"-->
  <% if@ticket_notes_system.any? %>
    <div class="row">
      <table class="history" class="col-md-10 col-md-offset-1">

            <%= render  'notes/system_note'%>
      </table>
    </div> 
 <% end %>
