<!DOCTYPE html>
<html>
<head>
  <title>MMRC Helpdesk | <%= yield(:title) %></title>
  <%= javascript_include_tag 'jquery', 'application' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <!--%= stylesheet_link_tag "bootstrap-responsive", :media => "all" %-->
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%=render 'layouts/header' %>
  <div class="container">
    <% flash.each do |key, value| %>
        <div class="alert <%=bootstrap_class_for(key)%> fade in">
          <strong><%=key.to_s%>:</strong> <%=value%> 
          <a href="#" class="close" data-dismiss="alert">&times;</a>
        </div>
    <% end %>
    <%= yield %>
  	<%= render 'layouts/footer' %> 
    <!--%= debug(params) if Rails.env.development? %-->
  </div>
</body>
</html>



